<% users.forEach(function(user){ %>
<li class="_contactList" data-uid="<%= user.id %>">
    <div class="contactPanel">
        <div class="user-avatar">
            <img src="
            <% if(user.avatar===null){ %>
            https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png
            <% }else{ %>
             images/users/<%= user.avatar %>  
            <%}%>" 
            alt="">
        </div>

        <div class="user-name">
            <p>
                <%= user.username%>
            </p>
        </div>
        <br/>
        <div class="user-address">
            <span>&nbsp; <%= user.address %></span>
        </div>

        <div class="user-add-new-contact" data-uid="<%= user._id %>">
            Thêm vào danh sách liên lạc
        </div>

        <div class="user-remove-request-contact-sent action-danger" data-uid="<%= user._id %>">
            Hủy yêu cầu
        </div>

    </div>
</li>
<% }) %>